<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.mapper.SysLogMapper">

    <select id="get" resultType="com.cn.entity.SysLog">
		select `id`,`userId`,`username`,`operation`,`time`,`method`,`params`,`ip`,`createDate` from sys_log where id = #{value}
	</select>

    <select id="list" resultType="com.cn.entity.SysLog">
        select `id`,`userId`,`username`,`operation`,`time`,`method`,`params`,`ip`,`createDate` from sys_log
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="userId != null and userId != ''"> and userId = #{userId} </if>
            <if test="username != null and username != ''"> and username = #{username} </if>
            <if test="operation != null and operation != ''"> and operation = #{operation} </if>
            <if test="time != null and time != ''"> and time = #{time} </if>
            <if test="method != null and method != ''"> and method = #{method} </if>
            <if test="params != null and params != ''"> and params = #{params} </if>
            <if test="ip != null and ip != ''"> and ip = #{ip} </if>
            <if test="createDate != null and createDate != ''"> and createDate = #{createDate} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from sys_log
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="userId != null and userId != ''"> and userId = #{userId} </if>
            <if test="username != null and username != ''"> and username = #{username} </if>
            <if test="operation != null and operation != ''"> and operation = #{operation} </if>
            <if test="time != null and time != ''"> and time = #{time} </if>
            <if test="method != null and method != ''"> and method = #{method} </if>
            <if test="params != null and params != ''"> and params = #{params} </if>
            <if test="ip != null and ip != ''"> and ip = #{ip} </if>
            <if test="createDate != null and createDate != ''"> and createDate = #{createDate} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.cn.entity.SysLog" useGeneratedKeys="true" keyProperty="id">
		insert into sys_log
		(
			`userId`,
			`username`,
			`operation`,
			`time`,
			`method`,
			`params`,
			`ip`,
			`createDate`
		)
		values
		(
			#{userId},
			#{username},
			#{operation},
			#{time},
			#{method},
			#{params},
			#{ip},
			#{createDate}
		)
	</insert>

    <update id="update" parameterType="com.cn.entity.SysLog">
        update sys_log
        <set>
            <if test="userId != null">`userId` = #{userId}, </if>
            <if test="username != null">`username` = #{username}, </if>
            <if test="operation != null">`operation` = #{operation}, </if>
            <if test="time != null">`time` = #{time}, </if>
            <if test="method != null">`method` = #{method}, </if>
            <if test="params != null">`params` = #{params}, </if>
            <if test="ip != null">`ip` = #{ip}, </if>
            <if test="createDate != null">`createDate` = #{createDate}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from sys_log where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from sys_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>