<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.mapper.UserMapper">

	<cache type="com.cn.redis.MybatisRedisCache" />
	<select id="getUserById" resultType="com.cn.entity.User">
		select * from t_user where id = #{id}
	</select>

    <select id="getUserList" resultType="com.cn.entity.User">
		select * from t_user
	</select>

	<update id="updateUser" parameterType="com.cn.entity.User">
		update t_user
		<set>
			<if test="nickname != null and nickname !='' ">nickname = #{nickname}, </if>
			<if test="phone != null  and phone !='' ">phone = #{phone} </if>
		</set>
		where id = #{id}
	</update>
</mapper>